# Configurações da Aplicação
PORT=3000
NODE_ENV=development

# Configurações do Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_NAME=pedidos_db

# Configurações de Segurança
# JWT_SECRET=your-secret-key
# JWT_EXPIRES_IN=1d

# Configurações de Log
LOG_LEVEL=debug

# Configurações do Context7
# CONTEXT7_API_KEY=sua-chave-api-do-context7 